.robots {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr ;
}

@media screen and (max-width:1100px){
    .robots {
        grid-template-columns: 1fr 1fr;
    }
};
    
