.page_separator{
    display: flex;

}

.robots_content {
    margin: 0 30px;
    width: 100%;
}

.desktopCart {
    width: -moz-min-content;
    width: min-content;
}

@media screen and (max-width: 1199px) {
    .desktopCart{
        display: none
    }
}